@using Model.Models.Response
@model IList<CustomerOrderModel>

<!-- Content Start -->
<div class="content">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
        <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
            <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
        </a>
        <a href="#" class="sidebar-toggler flex-shrink-0">
            <i class="fa fa-bars"></i>
        </a>
        <form class="d-none d-md-flex ms-4">
            <input class="form-control bg-dark border-0" type="search" placeholder="Search">
        </form>
        <div class="navbar-nav align-items-center ms-auto">
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <img class="rounded-circle me-lg-2" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                    <span class="d-none d-lg-inline-flex">John Doe</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">Trang cá nhân</a>
                    <a href="#" class="dropdown-item">Cài đặt</a>
                    <a href="#" class="dropdown-item">Đăng xuất</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
    <!-- Table Start -->
    <div class="container-fluid pt-4 px-4">

        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Quản Lý Hóa Đơn</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Tên Khách Hàng</th>
                                <th scope="col">SĐT</th>
                                <th scope="col">Địa Chỉ</th>
                                <th scope="col">Ngày Đặt Hàng</th>
                                <th scope="col">Tổng Tiền</th>
                                <th scope="col">ID Nhân Viên</th>
                                <th scope="col">Chi Tiết</th>
                                <th scope="col">Tình Trạng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">@item.BillId</th>
                                    <td>@item.CustomerName</td>
                                    <td>@item.Phone</td>
                                    <td>@item.Address</td>
                                    <td>@item.DateCreate</td>
                                    <td>@item.Total</td>
                                    <th>@item.EmployeeId</th>
                                    <td><a asp-controller="Order" asp-action="OrderDetail" asp-route-id="@item.BillId">Chi tiết</a> </td>
                                    @using (Html.BeginForm("HandleUpdateStatusBill", "Order", FormMethod.Get))
                                    {
                                        <input type="hidden" name="billid" value="@item.BillId" />
                                        @if (item.Status == 1)
                                        {
                                            <td><button name="status" value="0" class="btn btn-success w-75">Xác Nhận</button></td>
                                        }
                                        else
                                        {
                                            <td><button name="status" value="1" class="btn btn-danger w-75">Chưa Xác Nhận</button></td>
                                        }
                                    }
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content End -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        loadData();
        function loadData() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("handleLoadOrders","Order")',
                dataType: 'json',
                data: {},
                success: function (response) {
                    console.log(response);
                    var res = "";
                    //$.each(response.data, function (index, value) {
                    //    res += "<tr>"
                    //        + "<th value='"+value.id+"' scope='row'>" + (index + 1) + "</th>"
                    //        + "<td  id='name-"+value.id+"'>" + "name" + "</td>"
                    //        + "<td><button type='button' class='btn btn-primary' value='" + value.id + "-" + "name" + "' data-toggle='modal' data-target='#ModalEdit'>"
                    //        + "Edit"
                    //        + "</button><button type='button' class='btn btn-primary btn-delete'  value='"+value.id+"'>Delete</button></td>"
                    //        + "</tr>";
                    //});
                    //$("#data").append(res);
                },
                error: function () {
                    console.error('ERR');
                }
            })
            return false;
        }


    })
</script>

